<footer class="row-footer">
  <div class="container">
      <div class="row">             
          <div class="col-xs-4 col-md-3 col-md-offset-1">
              <h5>Liens</h5>
              <ul class="list-unstyled col-sm-6">
                  <li><a href="#/fr/home">Accueil</a></li>
                  <li><a href="#/fr/education">Education</a></li>
                  <li><a href="#/fr/work">Expériences Professionnelles</a></li>
                </ul>
                <ul class="list-unstyled col-sm-6">
                  <li><a href="#/fr/skills">Compétences</a></li>
                  <li><a href="#/fr/other">Autres Activités</a></li>
                  <li><a href="#/fr/contact">Prendre Contact</a></li>
              </ul>
          </div>
          <div class="col-xs-6 col-md-3 col-md-offset-1">
              <h5>Contacts</h5>
              <address>
            adresse<br>
            <i class="glyphicon glyphicon-phone"></i> telephonebr>
            <i class="glyphicon glyphicon-envelope"></i>
                   <a href="mailto:email">
                  email</a><br>
                   <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/" target="blank"><i class="fa fa-linkedin"></i></a>
                <a class="btn btn-social-icon btn-github" href="https://github.com/" target="blank"><i class="fa fa-github"></i></a>
              </address>
          </div>
          <div class="col-xs-2">
              <p style="padding-top:10px;"></p>
              <p align="left">©Copyright 2018</p>
          </div>
      </div>
  </div>
</footer>
